@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-style: bold;
	font-weight: 700;
	src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-family: bold;
	font-weight: 500;
	src: url("./assets/fonts/Montserrat-Medium.ttf");
}
